In [24]:
#importing important libraries
import requests
import pandas as pd
import numpy as np


url = 'https://ies-python-midterm.s3.eu-central-1.amazonaws.com/studentsSets/44622378.zip'
response = requests.get(url)

with open('data.zip', 'wb') as file:
    file.write(response.content)
#I have the zip file in my pc now, but im having problems with further opening

In [99]:
#obtaining the data
import pandas as pd
dataraw = pd.read_csv("https://ies-python-midterm.s3.eu-central-1.amazonaws.com/companies/companies_no_subindustry.csv")
dataraw

,Symbol,Security,GICS Sector,hq,included,Founded
0,MMM,3M,Industrials,"Saint Paul, Minnesota",09.08.1976,1902
1,AOS,A. O. Smith,Industrials,"Milwaukee, Wisconsin",26.07.2017,1916
2,ABT,Abbott,Health Care,"North Chicago, Illinois",31.03.1964,1888
3,ABBV,AbbVie,Health Care,"North Chicago, Illinois",31.12.2012,2013 (1888)
4,ABMD,Abiomed,Health Care,"Danvers, Massachusetts",31.05.2018,1981
...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,"Louisville, Kentucky",06.10.1997,1997
499,ZBRA,Zebra Technologies,Information Technology,"Lincolnshire, Illinois",23.12.2019,1969
500,ZBH,Zimmer Biomet,Health Care,"Warsaw, Indiana",07.08.2001,1927
501,ZION,Zions Bancorporation,Financials,"Salt Lake City, Utah",22.06.2001,1873
502,ZTS,Zoetis,Health Care,"Parsippany, New Jersey",21.06.2013,1952

In [98]:
#finding how many companies have missing date of inclusion
num_missing = dataraw['included'].isna().sum()
print(f'There are {num_missing} companies with missing date of inclusion.')

There are 501 companies with missing date of inclusion.

In [103]:
data_fin = dataraw.rename(columns={'GICS Sector': 'GICS'})
print(data_fin)

    Symbol              Security             GICS Sector  \
0      MMM                    3M             Industrials
1      AOS           A. O. Smith             Industrials
2      ABT                Abbott             Health Care
3     ABBV                AbbVie             Health Care
4     ABMD               Abiomed             Health Care
..     ...                   ...                     ...
498    YUM           Yum! Brands  Consumer Discretionary
499   ZBRA    Zebra Technologies  Information Technology
500    ZBH         Zimmer Biomet             Health Care
501   ZION  Zions Bancorporation              Financials
502    ZTS                Zoetis             Health Care

                          hq included      Founded
0      Saint Paul, Minnesota      NaT         1902
1       Milwaukee, Wisconsin      NaT         1916
2    North Chicago, Illinois      NaT         1888
3    North Chicago, Illinois      NaT  2013 (1888)
4     Danvers, Massachusetts      NaT         1981
..                       ...      ...          ...
498     Louisville, Kentucky      NaT         1997
499   Lincolnshire, Illinois      NaT         1969
500          Warsaw, Indiana      NaT         1927
501     Salt Lake City, Utah      NaT         1873
502   Parsippany, New Jersey      NaT         1952

[503 rows x 6 columns]

In [107]:
#editing type of data
dataraw.columns = [c.replace(' ', '_') for c in dataraw.columns]
print(dataraw)
dataraw[["Symbol", "Security", "hq", "included", "Founded"]] = dataraw[["Symbol", "Security", "hq", "included", "Founded"]].apply (pd.to_numeric, errors = "coerce")
dataraw["Founded"] = pd.to_datetime (dataraw["Founded"])
dataraw.dtypes

     Symbol  Security             GICS Sector  hq             included  \
0       NaN       NaN             Industrials NaN -9223372036854775808
1       NaN       NaN             Industrials NaN -9223372036854775808
2       NaN       NaN             Health Care NaN -9223372036854775808
3       NaN       NaN             Health Care NaN -9223372036854775808
4       NaN       NaN             Health Care NaN -9223372036854775808
..      ...       ...                     ...  ..                  ...
498     NaN       NaN  Consumer Discretionary NaN -9223372036854775808
499     NaN       NaN  Information Technology NaN -9223372036854775808
500     NaN       NaN             Health Care NaN -9223372036854775808
501     NaN       NaN              Financials NaN -9223372036854775808
502     NaN       NaN             Health Care NaN -9223372036854775808

                          Founded
0   1970-01-01 00:00:00.000001902
1   1970-01-01 00:00:00.000001916
2   1970-01-01 00:00:00.000001888
3                             NaT
4   1970-01-01 00:00:00.000001981
..                            ...
498 1970-01-01 00:00:00.000001997
499 1970-01-01 00:00:00.000001969
500 1970-01-01 00:00:00.000001927
501 1970-01-01 00:00:00.000001873
502 1970-01-01 00:00:00.000001952

[503 rows x 6 columns]

Symbol                float64
Security              float64
GICS Sector            object
hq                    float64
included                int64
Founded        datetime64[ns]
dtype: object

In [84]:
#getting rid of zero values
data = dataraw.dropna(subset=['included'])

data['included'] = pd.to_datetime(data['included'], dayfirst=True, errors='coerce')

current_year = pd.Timestamp.now().year
"""data['Symbol'] = current_year - data['Founded']"""

#oldest and youngest
oldest_index = data['Founded'].idxmin()
youngest_index = data['Founded'].idxmax()

print("Oldest Constituent:")
print(data.loc[oldest_index])
print("Youngest Constituent:")
print(data.loc[youngest_index])

Oldest Constituent:
Symbol                                   NaN
Security                                 NaN
GICS Sector                        Utilities
hq                                       NaN
included       1970-01-01 00:00:00.000002009
Founded        1970-01-01 00:00:00.000001966
Name: 186, dtype: object
Youngest Constituent:
Symbol                                   NaN
Security                                 NaN
GICS Sector                      Real Estate
hq                                       NaN
included       1970-01-01 00:00:00.000002005
Founded        1970-01-01 00:00:00.000001982
Name: 476, dtype: object

/var/folders/td/68d_dckd4_9d0fs13g_7wv2c0000gn/T/ipykernel_8527/589577585.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['included'] = pd.to_datetime(data['included'], dayfirst=True, errors='coerce')

In [111]:
import matplotlib.pyplot as plt

# Convert the 'included' column to datetime format
dataraw['included'] = pd.to_datetime(data['included'], dayfirst=True, errors='coerce')

# Count the number of companies in each sector
sector_counts = dataraw["GICS_Sector"].value_counts()

# Plot the results as a pie chart
plt.pie(sector_counts, labels=sector_counts.index, autopct='%1.1f%%')
plt.title('Distribution of Companies Across Sectors')
plt.show()

KeyError: 'GICS_Sector'

In [95]:
second_data = pd.read_csv("https://ies-python-midterm.s3.eu-central-1.amazonaws.com/companies/companies_subindustry.csv")
second_data
second_data[["Symbol", "subindustry"]] = second_data[["Symbol", "subindustry"]].apply (pd.to_numeric, errors = "coerce")

In [97]:
#merging the two sets together
merged = pd.merge(data, second_data, on = "Symbol")
merged

,Symbol,Security,GICS Sector,hq,included,Founded,subindustry
0,NaN,NaN,Utilities,NaN,1970-01-01 00:00:00.000002009,1970-01-01 00:00:00.000001966,NaN
1,NaN,NaN,Utilities,NaN,1970-01-01 00:00:00.000002009,1970-01-01 00:00:00.000001966,NaN
2,NaN,NaN,Utilities,NaN,1970-01-01 00:00:00.000002009,1970-01-01 00:00:00.000001966,NaN
3,NaN,NaN,Utilities,NaN,1970-01-01 00:00:00.000002009,1970-01-01 00:00:00.000001966,NaN
4,NaN,NaN,Utilities,NaN,1970-01-01 00:00:00.000002009,1970-01-01 00:00:00.000001966,NaN
...,...,...,...,...,...,...,...
1001,NaN,NaN,Real Estate,NaN,1970-01-01 00:00:00.000002005,1970-01-01 00:00:00.000001982,NaN
1002,NaN,NaN,Real Estate,NaN,1970-01-01 00:00:00.000002005,1970-01-01 00:00:00.000001982,NaN
1003,NaN,NaN,Real Estate,NaN,1970-01-01 00:00:00.000002005,1970-01-01 00:00:00.000001982,NaN
1004,NaN,NaN,Real Estate,NaN,1970-01-01 00:00:00.000002005,1970-01-01 00:00:00.000001982,NaN
1005,NaN,NaN,Real Estate,NaN,1970-01-01 00:00:00.000002005,1970-01-01 00:00:00.000001982,NaN